{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}”
{% set active_page = "graphs" %}

{% block page_content %}

<h2>Saved Graphs</h2>
{% if  saved_graphs%}
{% for graph in saved_graphs %}
<div style="width: 100%; float: left">
<div style="width: 200px; float: left">
<ul>
      <li>{{ graph }}</li>
      <li>User ID: {{ graph.user_id }}</li>
      <li>Name: {{ graph.graph_name }}</li>
      <li>Keyword 1: {{ graph.keyword_1 }}</li>
      <li>Keyword 2: {{ graph.keyword_2 }}</li>
</ul>
</div>
<div style="width: auto; float: left">
<div style="width: 100%; float: left; padding-bottom: 15px" >
<form class="form form-inline keyword_search_saved_graph" method="post" role="keyword_form">
    {{ keyword_form.hidden_tag() }}
    {{ wtf.form_errors(keyword_form, hiddens="only") }}
    {{ wtf.form_field(keyword_form.keyword_1, value=graph.keyword_1, type="hidden") }}
    {{ wtf.form_field(keyword_form.keyword_2, value=graph.keyword_2, type="hidden") }}
    {{ keyword_form.submit(class="btn btn-default") }}
</form>
</div>

<div style="width: 100%; float: left padding-bottom: 15px">
<form class="form form-inline delete_graph" method="post" role="delete_graph_form">
    {{ delete_graph_form.hidden_tag() }}
    {{ wtf.form_errors(delete_graph_form, hiddens="only") }}
    {{ wtf.form_field(delete_graph_form.graph_id, value=graph.id, type="hidden") }}
    {{ delete_graph_form.submit(class="btn btn-danger") }}
</form>
</div>
</div>
</div>
{% endfor %}
{% endif %}

<form class="form form-inline" method="post" role="save_form">
    {{ saved_graph_form.hidden_tag() }}
    {{ wtf.form_errors(saved_graph_form, hiddens="only") }}

    {{ wtf.form_field(saved_graph_form.graph_name) }}
    {{ wtf.form_field(saved_graph_form.keyword_1) }}
    {{ wtf.form_field(saved_graph_form.keyword_2) }}

    {{ saved_graph_form.submit(class="btn btn-default") }}
</form>



<h2>Graph Data</h2>
  {% if graph %}
      <div style="width: 100%; float:left; padding-bottom: 15px">
      {% for keyword, results in graph.iteritems() %}
      <div style="width: 172px; float:left; word-wrap: break-word; margin-right: 15px; text-wrap: unrestricted">
      Keyword: {{ keyword }}
        {% for dict in results %}
          {% for key, value in dict.iteritems() %}
            <li>{{ key }}: {{ value }}</li>
          {% endfor %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  {% endif %}

{{ wtf.quick_form(keyword_form) }}

{% endblock %}
