{% extends "base.html" %}
{% block title %}Graphs{% endblock %}

{% block page_content %}
<h2>Saved Graphs</h2>
{% for graph in saved_graphs %}
<div style="width: 100%; float: left">
<div style="width: 200px; float: left">
<ul>
      <li>{{ graph }}</li>
      <li>User ID: {{ graph.user_id }}</li>
      <li>Name: {{ graph.graph_name }}</li>
      <li>Keyword 1: {{ graph.keyword_1 }}</li>
      <li>Keyword 2: {{ graph.keyword_2 }}</li>
</ul>
</div>
<div style="width: auto; float: left">
<div style="width: 100%; float: left; padding-bottom: 15px">
<form role="form" action="/submit_graph" method="POST" id="submit_graph">
  <div style="float: left; padding-left: 15px">
  <input type="hidden" value="{{ graph.keyword_1 }}" name="graph_keyword_1"/>
  <input type="hidden" value="{{ graph.keyword_2 }}" name="graph_keyword_2"/>
  <div style="float: left;">
  <input type="submit" class="btn" name="submit_graph_api" value="Graph!"/>
  </div>
  </div>
</form>
</div>

<div style="width: 100%; float: left padding-bottom: 15px">
  <form role="form" action="/delete_graph" method="POST" id="delete_graph">
    <div style="float: left; padding-left: 15px">
    <input type="hidden" value="{{ graph.id }}" name="deleted_graph_id"/>
    <input type="submit" class="btn" name="delete_graph" value="Delete Graph"/>
    </div>
  </form>
</div>
</div>
</div>
{% endfor %}

<p>All fields must have values to submit.</p>

<div style="width: 100%; float: left">
<form role="form" action="/add" method="POST" id="save_graph">
  <div class="form-group">
  <div style="float: left;">
  <label>Graph Name</label>
  <input type="text" class="form-control" style="width: 172px; margin-right: 15px" name="graph_name"/>
  </div>
  <div style="float: left;">
  <label>Keyword 1</label>
  <input type="text" class="form-control" style="width: 172px; margin-right: 15px" name="keyword_1"/>
  </div>
  <div style="float: left;">
  <label>Keyword 2</label>
  <input type="text" class="form-control" style="width: 172px; margin-right: 15px" name="keyword_2"/>
  </div>
  <div style="float: left; padding-top: 25px">
  <input type="submit" class="btn" name="save_graph_submit" value="Save Graph!"/>
  </div>
</div>
</form>
</div>

<div style="width: 100%; float: left">
<h2>Graph Data</h2>
  {% if graph %}
      <div style="width: 100%; float:left; padding-bottom: 15px">
      {% for keyword, results in graph.iteritems() %}
      <div style="width: 172px; float:left; word-wrap: break-word; margin-right: 15px; text-wrap: unrestricted">
      Keyword: {{ keyword }}
        {% for dict in results %}
          {% for key, value in dict.iteritems() %}
            <li>{{ key }}: {{ value }}</li>
          {% endfor %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  {% endif %}
<div style="height:auto; width: 100%; float:left">
<div style="height:auto; width: 100%; float:left">
<form role="form" action="/submit_graph" method="POST" id="submit_graph">
  <div style="float: left; margin-right: 15px">
  <label>API Keyword 1</label>
  <input type="text" class="form-control" style="width: 172px" name="graph_keyword_1"/>
  </div>
  <div style="float: left; margin-right: 15px">
  <label>API Keyword 2</label>
  <input type="text" class="form-control" style="width: 172px" name="graph_keyword_2"/>
  </div>
  <div style="float: left;">
  <div style="float: left; padding-top: 25px">
  <input type="submit" class="btn" name="submit_graph_api" value="Graph!"/>
  </div>
  </div>
</form>
</div>
</div>
{% endblock %}