{% extends "base.html" %}
{% block page_content %}

<h1>AJAX Example</h1>
<p>
  <input name=a>
  <input name=b>
<p><a href="#" id="calculate">Submit</a>
<h1 id="keyword"></h1>
<div id="placeholder" style="width:600px;height:300px"></div>
<ul id="result"></ul>

{% endblock %}

{% block scripts %}
{{ super() }}
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/flot.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
{% endblock %}
