{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graph.css') }}">
{% endblock %}

{% block page_content %}

<h1>AJAX Example</h1>
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="keyword_1">Keyword 1</label>
    <input name='keyword_1' class="form-control" id="keyword_1" placeholder="Keyword 1">
  </div>
  <div class="form-group">
    <label class="sr-only" for="keyword_2">Keyword 2</label>
    <input name='keyword_2' class="form-control" id="keyword_2" placeholder="Keyword 2">
  </div>
  <div class="form-group">
    <label class="sr-only" for="date_low">Start Date</label>
    <input type="date" name='date_low' class="form-control" id="date_low" placeholder="Start Date">
  </div>
  <div class="form-group">
    <label class="sr-only" for="date_high">End Date</label>
    <input type="date" name='date_high' class="form-control" id="date_high" placeholder="End Date">
  </div>
  <div class="form-group">
    <select name='granularity' id="granularity"  class="form-control">
        <option value="day">day</option>
        <option value="month">month</option>
        <option value="year">year</option>
    </select>
  </div>

  <div class="form-group">
    <div class="">
      <button type="submit" id="calculate" class="btn btn-danger">Submit</button>
    </div>
  </div>
  <div class="form-group">
    <div class="">
      <button type="save_graph" id="save_graph" class="btn btn-success">Save</button>
    </div>
  </div>
</form>
<h1 id="keyword"></h1>
<div class="graph-container">
    <div class="hidden-container">
        <div class="opaque-overlay"></div>
        <div class="progress-container">
            <p>Loading...</p>
            <div class="progress progress-striped active" >
              <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">100% Complete</span>
              </div>
            </div>
        </div>
    </div>
    <div id="placeholder" style="width:100%; height:300px"></div>
</div>
<ul id="result"></ul>


{% endblock %}

{% block scripts %}
{{ super() }}
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/flot.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
{% endblock %}
